* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.loading-indicator {
  position: absolute;
  top: 1em;
  right: 1em;
  width: 35px;
  height: 35px;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.l-cell {
  width: 100%;
  height: 50%;
  position: fixed;
  overflow-x: hidden;
  overflow-y: auto;
}

.cell-editor {
  top: 0;
  left: 0;
  position: absolute;
}
  .cell-editor:after {
    display: block;
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    margin-top: -2px;
    border: 1px solid;
    border-color: #ccc transparent #aaa transparent;
    background-image: linear-gradient(bottom, #bbb 35%, #ddd 84%);
    background-image: -o-linear-gradient(bottom, #bbb 35%, #ddd 84%);
    background-image: -moz-linear-gradient(bottom, #bbb 35%, #ddd 84%);
    background-image: -webkit-linear-gradient(bottom, #bbb 35%, #ddd 84%);
    background-image: -ms-linear-gradient(bottom, #bbb 35%, #ddd 84%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.35, #bbb), color-stop(0.84, #ddd));
  }

.cell-stage {
  bottom: 0;
  left: 0;
  padding: 1em;
}

textarea {
  border: none;
  margin: 0;
  padding: 1em;
  width: 100%;
  height: 100%;
  font-size: 12pt;
  font-family: monospace;
}
  textarea:focus {
    outline: none;
  }
