* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.loading-indicator {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 35px;
  height: 35px;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.l-cell {
  width: 50%;
  height: 100%;
  position: fixed;
  overflow-x: hidden;
  overflow-y: scroll;
}

.cell-editor {
  top: 0;
  left: 0;
}

.cell-stage {
  top: 0;
  left: 50%;
  padding: 20px;
  font-family: "Times New Roman", Times, serif;
  font-size: 12pt;
  line-height: 16pt;
}

.word {
  padding: 0 0.25em;
  margin-right: 0.5em;
  white-space: nowrap;
  background-color: #eee;
}

textarea {
  margin: 0;
  padding: 20px;
  width: 100%;
  height: 100%;
  vertical-align: top;
  border: none;
  font-size: 12pt;
  font-family: monospace;
}
  textarea:focus {
    outline: none;
  }
